.videoView__main{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.videoView__video__container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 0;
    background-color: black;
}

.videoView__fallback{
    display: flex;
    width: 100%;
    height: auto;
}

.videoView__tittle{
    color: #FFFFFF;
    font-size: 15px;
    margin: 10px 0 20px;
}

.videoView__loader{
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: -1;
}